body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  line-height: 1.1;
  margin: 10px 0 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}
div.weather-app {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border: 1px solid #d6d6d6;
  max-width: 1000px;
}
div.form {
  margin-right: 0;
  margin-left: 0;
  max-width: 150px;
}

div.overview {
}

div.current-weather-info {
  text-align: center;
  border: 5px solid #f7fd04;
  border-radius: 50%;
  padding: 35px 45px;
  background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
}
div.forecast {
  text-align: center;
  padding: 0px;
}
li {
  list-style-type: none;
}
li.city {
  font-size: 40px;
  line-height: 1.1;
}
li.date {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  line-height: 1.1;
}
.time {
  font-size: 25px;
}
li.description {
  text-transform: capitalize;
}
.current-temperature {
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
}
footer {
  max-width: 1000px;
  padding-left: 5px;
}
.city-input {
  max-width: 250px;
  margin: 10px auto 0;
}
.location-buttons {
  max-width: 150px;
  margin: 10px auto;
}
.unit {
  font-size: 17px;
  position: relative;
  top: -27px;
  font-weight: 900;
}

.forecast-date {
  font-weight: 900;
}
.forecast-temperature-min {
  opacity: 0.6;
}
.cloudy {
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}
.sunny {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}
.rainy {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

  background-blend-mode: soft-light, screen;
}
.snowy {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
