body {
  font-family: "Lato", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
div.weather-app {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  border: 1px solid #d6d6d6;
  max-width: 1000px;
  margin: 20px auto 0;
  padding-bottom: 20px;
}
div.form {
  margin-right: 0;
  margin-left: 0;
  max-width: 150px;
}

div.overview {
  padding-top: 40px;
  padding-left: 50px;
}

div.current-weather-info {
  margin-top: 15px;
  text-align: center;
  border: 5px solid #000;
  border-radius: 50%;
  padding: 50px 60px;
  max-width: 300px;
}
div.forecast {
  margin-top: 10px;
  text-align: center;
}
li {
  list-style-type: none;
}
li.city {
  font-size: 40px;
}
li.date {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  line-height: 1.1;
}
li.time {
  font-size: 25px;
}
li.description {
  text-transform: capitalize;
}
li.current-temperature {
  font-size: 75px;
  line-height: 1;
  padding-left: 30px;
}
footer {
  max-width: 1000px;
  padding-left: 5px;
}
.city-input {
  max-width: 250px;
  margin: 10px auto 0;
}
.location-buttons {
  max-width: 150px;
  margin: 10px auto;
}
.units {
  font-size: 15px;
  position: relative;
  top: -37px;
}
.celsius {
  text-decoration: none;
}
.fahrenheit {
  text-decoration: none;
}
.active {
  color: #000;
  cursor: default;
  font-weight: 900;
  font-size: 17px;
}
.active:hover {
  text-decoration: none;
  color: #000;
}
.forecast-date {
  font-weight: 900;
}
.forecast-temperature-min {
  opacity: 0.6;
}
